<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Technoman.Utilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Technoman.Utilities.Properties.Settings.MBADbConnectionString"
            connectionString="Data Source=XEESH;AttachDbFilename=&quot;D:\Projects\Saataas\Technoman Project\Projects\Microbial Assay\Database\MBADb.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <Technoman.Utilities.Properties.Settings>
            <setting name="LogitDbConnectionString" serializeAs="String">
                <value>Data Source=XEESH;AttachDbFilename="D:\Projects\Saataas\Technoman Project\Projects\Microbial Assay\Database\MBADb.mdf";Integrated Security=True</value>
            </setting>
        </Technoman.Utilities.Properties.Settings>
    </applicationSettings>
</configuration>