<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalReports.FlashControlV71" version="13.0.3501" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net45" />
</packages>